@import "tailwindcss";

.window {
  background: #c0c0c0;
  border: 1px solid #000;
  padding: 3px;
  color: #000;

  box-shadow:
    inset 1px 1px 0 #ffffff,
    inset -1px -1px 0 #808080,
    2px 2px 0 rgba(0, 0, 0, 0.35);
}

.title-bar {
  height: 28px;
  padding: 0 4px 0 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  background: linear-gradient(90deg, #000080, #1084d0);
  color: white;

  font-size: 14px;
  font-weight: 700;
  user-select: none;
}

.title-bar span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-bar button {
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #c0c0c0;
  color: #000;
  border: 1px solid #000;

  font-size: 12px;
  font-weight: 700;
  line-height: 1;

  box-shadow:
    inset 1px 1px 0 #ffffff,
    inset -1px -1px 0 #808080;

  cursor: pointer;
}
.title-bar button:active {
  box-shadow:
    inset 1px 1px 0 #808080,
    inset -1px -1px 0 #ffffff;
}

.window-content {
  margin-top: 3px;
  padding: 12px;

  background: #d4d0c8;
  border: 1px solid #808080;

  box-shadow:
    inset 1px 1px 0 #808080,
    inset -1px -1px 0 #ffffff;

  min-height: 120px;
}
